@model IEnumerable<CakeHTShop.Models.Cake>

@{
    ViewData["Title"] = "Index";
}

<h1>Thông Tin</h1>
<form asp-controller="cakes" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<p>
    <a asp-action="Create">Tạo một bảng mới</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">THÊM</a> |
                <a asp-action="Details" asp-route-id="@item.Id">XÓA</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">SỬA</a>
            </td>
        </tr>
}
    </tbody>
</table>
